jaxb2/src/jaxb2/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="photo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nom" type="xs:string"/>
        <xs:element name="date" type="xs:date"/>
      </xs:sequence>
      <xs:attribute name="qualite" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

